#navbar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navitems li{
    margin: 10px;
}

.item{
    font-size: large;
    padding: 1px;
}

#srvclst{
    flex-direction: column;
}

#clntlogos{
    flex-direction: column;
    align-items: center;
}